<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.morefocus.admin.module.business.barcode.mapper.SpuBarcodeMapper">

    <select id="queryBarcodeBySpuId" resultType="cn.morefocus.admin.module.business.barcode.domain.vo.SpuBarcodeVO">
        select t_spu_barcode.*
        from t_spu_barcode t_spu_barcode
        where t_spu_barcode.is_deleted = false
          and t_spu_barcode.spu_id = #{spuId}
    </select>
</mapper>