package ${basic.javaPackageName}.domain.entity;

#foreach ($importClass in $importPackageList)
$importClass
import cn.morefocus.base.common.domain.BaseEntity;
import com.baomidou.mybatisplus.annotation.IdType;
import com.baomidou.mybatisplus.annotation.TableId;
import com.baomidou.mybatisplus.annotation.TableName;
import lombok.Data;
import lombok.EqualsAndHashCode;

#end

/**
 * ${basic.description} 实体类
 *
 * @author ${basic.backendAuthor}
 * @date ${basic.backendDate}
 */
@EqualsAndHashCode(callSuper = true)
@Data
@TableName("${tableName}")
public class ${name.upperCamel}Entity extends BaseEntity{
#foreach ($field in $fields)

    /**
     * $field.label
     */
#if($field.primaryKeyFlag && $field.autoIncreaseFlag)
    @TableId(type = IdType.AUTO)
#end
#if($field.primaryKeyFlag && !$field.autoIncreaseFlag)
    @TableId
#end
    private $field.javaType $field.fieldName;
#end

}