<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.morefocus.admin.module.business.oa.enterprise.mapper.EnterpriseMapper">
    <update id="deleteEnterprise">
        UPDATE t_oa_enterprise
        SET is_deleted = #{isDeleted}
        WHERE enterprise_id = #{enterpriseId}
    </update>
    <select id="queryByEnterpriseName"
            resultType="cn.morefocus.admin.module.business.oa.enterprise.domain.entity.EnterpriseEntity">
        SELECT *
        FROM t_oa_enterprise
        WHERE enterprise_name = #{enterpriseName}
        AND is_deleted = #{isDeleted}
        <if test="excludeEnterpriseId != null">
            AND enterprise_id != #{excludeEnterpriseId}
        </if>
    </select>

    <select id="queryPage"
            resultType="cn.morefocus.admin.module.business.oa.enterprise.domain.vo.EnterpriseVO">
        SELECT t_oa_enterprise.*
        FROM t_oa_enterprise
        <where>
            is_deleted = #{queryForm.isDeleted}
            <if test="queryForm.keywords != null and queryForm.keywords != ''">
                AND (INSTR(enterprise_name,#{queryForm.keywords}) OR INSTR(contact,#{queryForm.keywords}) OR
                INSTR(contact_phone,#{queryForm.keywords}) OR INSTR(create_user_name,#{queryForm.keywords}))
            </if>
            <if test="queryForm.startTime != null">
                AND DATE_FORMAT(create_time, '%Y-%m-%d') &gt;= #{queryForm.startTime}
            </if>
            <if test="queryForm.endTime != null">
                AND DATE_FORMAT(create_time, '%Y-%m-%d') &lt;= #{queryForm.endTime}
            </if>
            <if test="queryForm.isDisabled != null">
                AND is_disabled = #{queryForm.isDisabled}
            </if>
        </where>
        <if test="queryForm.sortItemList == null or queryForm.sortItemList.size == 0">
            ORDER BY create_time DESC
        </if>
    </select>

    <select id="selectExcelExportData"
            resultType="cn.morefocus.admin.module.business.oa.enterprise.domain.vo.EnterpriseExcelVO">
        SELECT t_oa_enterprise.*
        FROM t_oa_enterprise
        <where>
            is_deleted = #{queryForm.isDeleted}
            <if test="queryForm.keywords != null and queryForm.keywords != ''">
                AND (INSTR(enterprise_name,#{queryForm.keywords}) OR INSTR(contact,#{queryForm.keywords}) OR
                INSTR(contact_phone,#{queryForm.keywords}) OR INSTR(create_user_name,#{queryForm.keywords}))
            </if>
            <if test="queryForm.startTime != null">
                AND DATE_FORMAT(create_time, '%Y-%m-%d') &gt;= #{queryForm.startTime}
            </if>
            <if test="queryForm.endTime != null">
                AND DATE_FORMAT(create_time, '%Y-%m-%d') &lt;= #{queryForm.endTime}
            </if>
            <if test="queryForm.isDisabled != null">
                AND is_disabled = #{queryForm.isDisabled}
            </if>
        </where>
        <if test="queryForm.sortItemList == null or queryForm.sortItemList.size == 0">
            ORDER BY create_time DESC
        </if>
    </select>


    <select id="queryList"
            resultType="cn.morefocus.admin.module.business.oa.enterprise.domain.vo.EnterpriseListVO">
        SELECT enterprise_id, enterprise_name
        FROM t_oa_enterprise
        WHERE is_disabled = #{isDisabled}
        AND is_deleted = #{isDeleted}
        <if test="type != null">
            AND type = #{type}
        </if>
    </select>
    <select id="getDetail"
            resultType="cn.morefocus.admin.module.business.oa.enterprise.domain.vo.EnterpriseVO">
        SELECT oe.*
        FROM t_oa_enterprise oe
        WHERE oe.enterprise_id = #{enterpriseId}
          AND oe.is_deleted = #{isDeleted}
    </select>

</mapper>