<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.morefocus.admin.module.business.supplier.mapper.SupplierMapper">

    <!-- 分页查询 -->
    <select id="queryPage" resultType="cn.morefocus.admin.module.business.supplier.domain.vo.SupplierVO">
        SELECT *
        FROM t_supplier t_suppier
        <where>
            is_deleted = 0
            <if test="queryForm.keywords != null and queryForm.keywords !=''">
                AND (
                INSTR(t_suppier.name,#{queryForm.keywords})
                OR INSTR(t_suppier.full_name,#{queryForm.keywords})
                OR INSTR(t_suppier.contacts,#{queryForm.keywords})
                )
            </if>

            <if test="queryForm.categoryId != null">
                AND t_suppier.category_id = #{queryForm.categoryId}
            </if>
        </where>
    </select>

    <!-- 查询所有 -->
    <select id="queryAll" resultType="cn.morefocus.admin.module.business.supplier.domain.vo.SupplierVO">
        SELECT *
        FROM t_supplier t_suppier
        <where>
            is_deleted = 0
            <if test="queryForm.keywords != null and queryForm.keywords !=''">
                AND (
                INSTR(t_suppier.name,#{queryForm.keywords})
                OR INSTR(t_suppier.full_name,#{queryForm.keywords})
                OR INSTR(t_suppier.contacts,#{queryForm.keywords})
                )
            </if>

            <if test="queryForm.categoryId != null">
                AND t_suppier.category_id = #{queryForm.categoryId}
            </if>
        </where>
    </select>

    <update id="updateIsDisabled">
        UPDATE t_supplier
        SET is_disabled = #{isDisabled}
        WHERE id = #{id}
    </update>
</mapper>