<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.morefocus.admin.module.business.sku.mapper.SkuBarcodeMapper">

    <select id="queryBarcodeBySpuId" resultType="cn.morefocus.admin.module.business.sku.domain.vo.SkuBarcodeVO">
        select t_sku_barcode.*
        from t_sku_barcode t_sku_barcode
        where t_sku_barcode.is_deleted = false
          and t_sku_barcode.spu_id = #{spuId}
    </select>
</mapper>