<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.morefocus.admin.module.business.sku.mapper.SkuStockDetailMapper">

    <!-- 分页查询 -->
    <select id="queryPage" resultType="cn.morefocus.admin.module.business.sku.domain.vo.SkuStockDetailVO">
        SELECT t_sku_stock_detail.*
        FROM t_sku_stock_detail t_sku_stock_detail
    </select>

    <!-- 分页查询 -->
    <select id="queryAll" resultType="cn.morefocus.admin.module.business.sku.domain.vo.SkuStockDetailVO">
        SELECT t_sku_stock_detail.*
        FROM t_sku_stock_detail t_sku_stock_detail
    </select>
</mapper>