<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.morefocus.admin.module.business.spu.mapper.SpuUnitMapper">

    <!-- 分页查询 -->
    <select id="queryPage" resultType="cn.morefocus.admin.module.business.spu.domain.vo.SpuUnitVO">
        SELECT t_spu_unit.*
        FROM t_spu_unit t_spu_unit
        <where>
            <if test="queryForm.keywords!=null and queryForm.keywords != ''">
                AND ( INSTR(t_spu_unit.name,#{queryForm.keywords})
                )
            </if>

            <if test="queryForm.isDeleted != null">
                and t_spu_unit.is_deleted = #{queryForm.isDeleted}
            </if>

            <if test="queryForm.isDisabled != null">
                and t_spu_unit.is_disabled = #{queryForm.isDisabled}
            </if>
        </where>
    </select>

    <!-- 分页查询 -->
    <select id="queryAll" resultType="cn.morefocus.admin.module.business.spu.domain.vo.SpuUnitVO">
        SELECT t_spu_unit.*
        FROM t_spu_unit t_spu_unit

        <where>
            <if test="queryForm.isDeleted != null">
                and t_spu_unit.is_deleted = #{queryForm.isDeleted}
            </if>

            <if test="queryForm.isDisabled != null">
                and t_spu_unit.is_disabled = #{queryForm.isDisabled}
            </if>
        </where>
    </select>

    <update id="updateIsDisabled">
        UPDATE t_spu_unit
        SET is_disabled = #{isDisabled}
        WHERE id = #{id}
    </update>

    <update id="deleteBySpuId">
        UPDATE t_spu_unit
        SET is_deleted = #{isDeleted}
        WHERE spu_id = #{spuId}
    </update>

    <update id="deleteById">
        UPDATE t_spu_unit
        SET is_deleted = #{isDeleted}
        WHERE id = #{id}
    </update>
</mapper>