<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.morefocus.admin.module.business.tenant.mapper.TenantIndustryMapper">

    <!-- 分页查询 -->
    <select id="queryPage" resultType="cn.morefocus.admin.module.business.tenant.domain.vo.TenantIndustryVO">
        SELECT *
        FROM t_tenant_industry
    </select>

    <update id="updateDisableFlag">
        UPDATE t_tenant_industry
        SET is_disabled = #{isDisabled}
        WHERE id = #{id}
    </update>
</mapper>