<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.morefocus.admin.module.business.oa.bank.mapper.BankMapper">
    <update id="deleteBank">
        UPDATE t_oa_bank
        SET is_deleted = #{isDeleted}
        WHERE bank_id = #{bankId}
    </update>
    <select id="queryByAccountNumber"
            resultType="cn.morefocus.admin.module.business.oa.bank.domain.BankEntity">
        SELECT *
        FROM t_oa_bank
        WHERE enterprise_id = #{enterpriseId}
        AND account_number = #{accountNumber}
        AND is_deleted = #{isDeleted}
        <if test="excludeBankId != null">
            AND bank_id != #{excludeBankId}
        </if>
    </select>
    <select id="queryPage" resultType="cn.morefocus.admin.module.business.oa.bank.domain.BankVO">
        SELECT t_oa_bank.*,
        t_oa_enterprise.enterprise_name
        FROM t_oa_bank
        LEFT JOIN t_oa_enterprise ON t_oa_bank.enterprise_id = t_oa_enterprise.enterprise_id
        <where>
            t_oa_bank.is_deleted = #{queryForm.isDeleted}
            <if test="queryForm.keywords != null and queryForm.keywords != ''">
                AND (INSTR(t_oa_bank.bank_name,#{queryForm.keywords}) OR
                INSTR(t_oa_bank.account_name,#{queryForm.keywords}) OR
                INSTR(t_oa_bank.account_number,#{queryForm.keywords}) OR
                INSTR(t_oa_bank.create_user_name,#{queryForm.keywords}))
            </if>
            <if test="queryForm.startTime != null">
                AND DATE_FORMAT(t_oa_bank.create_time, '%Y-%m-%d') &gt;= #{queryForm.startTime}
            </if>
            <if test="queryForm.endTime != null">
                AND DATE_FORMAT(t_oa_bank.create_time, '%Y-%m-%d') &lt;= #{queryForm.endTime}
            </if>
            <if test="queryForm.isDisabled != null">
                AND t_oa_bank.is_disabled = #{queryForm.isDisabled}
            </if>
            <if test="queryForm.enterpriseId != null">
                AND t_oa_bank.enterprise_id = #{queryForm.enterpriseId}
            </if>
        </where>
        <if test="queryForm.sortItemList == null or queryForm.sortItemList.size == 0">
            ORDER BY t_oa_bank.create_time DESC
        </if>
    </select>
    <select id="getDetail" resultType="cn.morefocus.admin.module.business.oa.bank.domain.BankVO">
        SELECT t_oa_bank.*,
               t_oa_enterprise.enterprise_name
        FROM t_oa_bank
                 LEFT JOIN t_oa_enterprise ON t_oa_bank.enterprise_id = t_oa_enterprise.enterprise_id
        WHERE t_oa_bank.bank_id = #{bankId}
          AND t_oa_bank.is_deleted = #{isDeleted}
    </select>
</mapper>