<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.morefocus.admin.module.system.employee.mapper.EmployeeMapper">

    <select id="queryEmployee" resultType="cn.morefocus.admin.module.system.employee.domain.vo.EmployeeVO">
        SELECT
        t_employee.*,
        t_department.name AS departmentName
        FROM t_employee
        LEFT JOIN t_department ON t_department.id = t_employee.dept_id
        <where>
            <if test="queryForm.keywords != null and queryForm.keywords != ''">
                AND (
                INSTR(t_employee.actual_name,#{queryForm.keywords})
                OR INSTR(t_employee.phone,#{queryForm.keywords})
                OR INSTR(t_employee.login_name,#{queryForm.keywords})
                )
            </if>
            <if test="deptIdList != null and deptIdList.size > 0">
                and
                t_employee.dept_id
                in
                <foreach collection="deptIdList" open="(" close=")" separator="," item="item">
                    #{item}
                </foreach>
            </if>
            <if test="queryForm.isDisabled != null">
                AND t_employee.is_disabled = #{queryForm.isDisabled}
            </if>
            <if test="queryForm.isDeleted != null">
                AND t_employee.is_deleted = #{queryForm.isDeleted}
            </if>
        </where>
    </select>


    <update id="updateIsDisabled">
        UPDATE t_employee
        SET is_disabled = #{isDisabled}
        WHERE employee_id = #{employeeId}
    </update>


    <select id="getByLoginName" resultType="cn.morefocus.admin.module.system.employee.domain.entity.EmployeeEntity">
        SELECT *
        FROM t_employee
        <where>
            login_name = #{loginName}
            <if test="isDisabled != null">
                AND is_disabled = #{isDisabled}
            </if>
        </where>
    </select>

    <select id="getByActualName" resultType="cn.morefocus.admin.module.system.employee.domain.entity.EmployeeEntity">
        SELECT *
        FROM t_employee
        <where>
            actual_name = #{actualName}
            <if test="isDisabled != null">
                AND is_disabled = #{isDisabled}
            </if>
        </where>
    </select>


    <select id="getByPhone" resultType="cn.morefocus.admin.module.system.employee.domain.entity.EmployeeEntity">
        SELECT *
        FROM t_employee
        <where>
            phone = #{phone}
            <if test="isDisabled != null">
                AND is_disabled = #{isDisabled}
            </if>
        </where>
    </select>


    <select id="listAll" resultType="cn.morefocus.admin.module.system.employee.domain.vo.EmployeeVO">
        SELECT *
        FROM t_employee
        ORDER BY create_time DESC
    </select>

    <select id="countByDepartmentId" resultType="integer">
        SELECT count(1)
        FROM t_employee
        WHERE dept_id = #{deptId}
    </select>


    <select id="selectByDepartmentId"
            resultType="cn.morefocus.admin.module.system.employee.domain.entity.EmployeeEntity">
        SELECT *
        FROM t_employee
        <where>
            dept_id = #{deptId}
            <if test="isDisabled != null">
                AND is_disabled = #{isDisabled}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

    <select id="selectByActualName"
            resultType="cn.morefocus.admin.module.system.employee.domain.entity.EmployeeEntity">
        SELECT * FROM t_employee
        <where>
            actual_name = #{actualName}
            AND dept_id in
            <foreach collection="deptIdList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
            <if test="isDisabled != null">
                AND is_disabled = #{isDisabled}
            </if>
        </where>
    </select>

    <select id="getEmployeeIdByDepartmentIdList" resultType="java.lang.Long">
        SELECT employee_id
        FROM t_employee
        <where>
            dept_id IN
            <foreach collection="deptIds" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
            <if test="isDisabled != null">
                AND is_disabled = #{isDisabled}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>


    <select id="getEmployeeId" resultType="java.lang.Long">
        SELECT employee_id
        FROM t_employee
        <where>
            <if test="isDisabled != null">
                AND is_disabled = #{isDisabled}
            </if>
        </where>
    </select>

    <select id="getEmployeeIdByDepartmentId" resultType="java.lang.Long">
        SELECT employee_id
        FROM t_employee
        <where>
            dept_id = #{deptId}
            <if test="isDisabled != null">
                AND is_disabled = #{isDisabled}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

    <select id="getEmployeeByIds" resultType="cn.morefocus.admin.module.system.employee.domain.vo.EmployeeVO">
        SELECT * FROM t_employee
        where employee_id IN
        <foreach collection="employeeIds" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
        ORDER BY create_time DESC
    </select>


    <select id="getEmployeeById" resultType="cn.morefocus.admin.module.system.employee.domain.vo.EmployeeVO">
        SELECT t_employee.*,
               t_department.name AS departmentName
        FROM t_employee
                 LEFT JOIN t_department ON t_department.id = t_employee.dept_id
        where t_employee.employee_id = #{employeeId}
    </select>

    <select id="selectEmployeeByDisabledAndDeleted"
            resultType="cn.morefocus.admin.module.system.employee.domain.vo.EmployeeVO">
        SELECT
        t_employee.*,
        t_department.name AS departmentName
        FROM t_employee
        LEFT JOIN t_department ON t_department.id = t_employee.dept_id
        <where>
            <if test="isDisabled != null">
                AND t_employee.is_disabled = #{isDisabled}
            </if>
            <if test="isDeleted != null">
                AND t_employee.is_deleted = #{isDeleted}
            </if>
        </where>
    </select>

    <update id="updatePassword">
        UPDATE t_employee
        SET login_pwd = #{password}
        WHERE employee_id = #{employeeId}
    </update>


</mapper>