<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.morefocus.base.module.support.config.mapper.ConfigMapper">
    <!-- 分页查询系统配置 -->
    <select id="queryByPage" resultType="cn.morefocus.base.module.support.config.domain.ConfigEntity">
        SELECT *
        FROM t_config t_config
        <where>
            is_deleted = 0
            <if test="query.keywords != null and query.keywords != ''">
                AND INSTR(t_config.config_key,#{query.keywords})
            </if>
        </where>
    </select>

    <!-- 根据key查询获取数据 -->
    <select id="selectByKey" resultType="cn.morefocus.base.module.support.config.domain.ConfigEntity">
        SELECT *
        FROM t_config
        WHERE config_key = #{key}
    </select>

</mapper>