package ${packageName};

#foreach ($importClass in $importPackageList)
$importClass
#end
import cn.morefocus.base.common.domain.BaseEntity;
import cn.morefocus.base.common.domain.BaseVo;
import lombok.Data;
import lombok.EqualsAndHashCode;

/**
 * ${basic.description} 列表VO
 *
 * @author ${basic.backendAuthor}
 * @date ${basic.backendDate}
 */
@EqualsAndHashCode(callSuper = true)
@Data
public class ${name.upperCamel}VO extends BaseVo {

    private $!{primaryKeyJavaType} $!{primaryKeyFieldName};

#foreach ($field in $fields)

#if($field.isEnum)
    /**
     * $field.label
     */
    private $field.javaType $field.fieldName;
#end
#if(!$field.isEnum)
    $!{field.dict}$!{field.file}
    /**
     * $field.label
     */
    private $field.javaType $field.fieldName;
#end
#end

}