<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.morefocus.admin.module.business.brand.mapper.BrandMapper">

    <!-- 分页查询 -->
    <select id="queryPage" resultType="cn.morefocus.admin.module.business.brand.domain.vo.BrandVO">
        SELECT t_brand.*
        FROM t_brand t_brand
        <where>
            <if test="queryForm.keywords!=null and queryForm.keywords != ''">
                AND ( INSTR(t_brand.name,#{queryForm.keywords})
                )
            </if>

            <if test="queryForm.isDeleted != null">
                and t_brand.is_deleted = #{queryForm.isDeleted}
            </if>

            <if test="queryForm.isDisabled != null">
                and t_brand.is_disabled = #{queryForm.isDisabled}
            </if>
        </where>
    </select>

    <!-- 分页查询 -->
    <select id="queryAll" resultType="cn.morefocus.admin.module.business.brand.domain.vo.BrandVO">
        SELECT t_brand.*
        FROM t_brand t_brand

        <where>
            <if test="queryForm.isDeleted != null">
                and t_brand.is_deleted = #{queryForm.isDeleted}
            </if>

            <if test="queryForm.isDisabled != null">
                and t_brand.is_disabled = #{queryForm.isDisabled}
            </if>
        </where>
    </select>

    <update id="updateIsDisabled">
        UPDATE t_brand
        SET is_disabled = #{isDisabled}
        WHERE id = #{id}
    </update>
</mapper>